body {
    background-color: #ffffff;
}

.social-card {
    margin: 1em;
    width: 300px;
    height: auto;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.social_links {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    margin: unset;
}

.social_links li {
    display: inline-block;
    margin: 5px;
}

.social_links svg {
    width: 25px;
    height: 25px;
    fill: #858585;
    transition: 0.2s ease-out;
}

.social_links svg:hover {
    transform: scale(1.1);
    fill: rgb(0, 0, 0);
    transition: 0.25s ease all;
}